<h2>Images</h2>
<div>
	<p>
        <strong>Image:</strong>
        <%= @image.image %>
        <%#= link_to @image.image.url %>
       	<%= image_tag @image.image %>
    </p>
</div>

<%= link_to 'Back', images_path %>